<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Smartway - HTML Template">
    <meta name="author" content="Coffeecream Themes, info@coffeecream.eu">
    <title>大腿Tutor - 找tutor，有我们就够了</title>
    <link rel="shortcut icon" href="images/favicon.png">

    <!-- Main Stylesheet -->
    <link href="css/style.css?v=003" rel="stylesheet">

    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->

    <script src="js/custom/vue.js"></script>
    <script src="js/custom/vue-resource.min.js"></script>
</head>

<body>

    <header>

        <!-- ==== NAVBAR START ==== -->
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="index.html" class="navbar-brand"><img src="images/logo.png" alt="DaTui" class="img-responsive logo" /></a>
                </div>
                <nav class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="index.html">首页</a></li>
                        <li class="active"><a href="teachers-list.html"><u>找大腿</u></a></li>
                        <li><a href="contact.html"><u>成为大腿</u></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- ==== NAVBAR END ==== -->

    </header>

    <!-- ========== HEADER END ========== -->
    <!-- ========== CONTENT START ========== -->

    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <img src="images/workflow.png" alt="" class="img-responsive">
                    </div>
                </div>
                <!-- <div class="col-sm-6">
                    <h1>大腿们是如何选出来的</h1>
                    <p>大腿团队通过缜密的流程步骤，努力让学生们抱到坚实可靠的大腿。
                        什么人都能自称tutor，但不是什么人都能被封“大腿”。</p>
                    <ol>
                        <li>申请人提交申请资料</li>
                        <li>大腿团队与申请人进行面试</li>
                        <li>确认申请人官方成绩资料与其他“大腿”资历</li>
                        <li>通过审核者，即被封为：“大腿”</li>
                        <li>“大腿”对需要的学生进行辅导与解惑</li>
                        <li>经过学生评价和长期追踪，确保其“大腿”的坚实程度</li>
                    </ol>
                </div> -->
            </div>
        </div>
    </section>

    <!-- ========== CONTENT END ========== -->
    <!-- ========== TEACHERS START ========== -->

    <section id="teachers" class="alt-background">
        <div class="container" id="tutor-list">

            <h2>大腿们 and Tutors</h2>

            <select v-model="selected" v-on:change="doThis($event)" class="form-control dt-teacher-dropdown" v-cloak>
                <option>All</option>
                <option v-for="subject in subjects">{{subject}}</option>
                <option>Don't have what I want</option>
            </select>

            <ul class="teachers row">

                <li v-for="tutorStub in tutorList" class="col-lg-3 col-md-4 col-sm-6 teacher-item">
                    <a v-if="tutorStub.source.avatar && tutorStub.source.avatar.length > 0" v-bind:href="tutorStub.link">
                        <div class="dt-img-container" v-bind:style="{backgroundImage: 'url(' + tutorStub.source.avatar + ')'}"></div>
                    </a>
                    <!--<a :href="tutorStub.link"><img :src="tutorStub.source.avatar" alt="" class="img-responsive dt-full-width" /></a>-->
                    <div class="description" v-cloak>
                        <h3>{{ tutorStub.source.name }}</h3>
                        <div class="dt-margin-bottom-30 dt-course-div"><span v-for="course in tutorStub.source.courses" class="label label-course dt-span-label">{{ course }}</span></div>
                        <p>{{ tutorStub.source.intro }}</p>
                        <a :href="tutorStub.link">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </li>

            </ul>

        </div>
    </section>

    <!-- ========== TEACHERS END ========== -->
    <!-- ========== PREFOOTER START ========== -->

    <div id="prefooter">
			<div class="container">
				<div class="row">
					<!-- ==== CONTACT START == -->
					<div class="col-sm-6">
						<h3>联系方式</h3>
						<p>大学里随便找个..<br>
						咖啡厅？Cameron? Hoho..?</p>

						<p>电话: <a href="tel:7809916996">780-991-6996</a><br>
						又一个电话: <a href="tel:7809071534">780-907-1534</a><br>
						Email: <a href="mailto:hello@datuiweb.com">hello@datuiweb.com</a></p>

						<p><a href="index.html">回到首页<i class="fa fa-angle-right"></i></a></p>
					</div>
					<!-- ==== CONTACT END == -->

					<!-- ==== APPLY FOR TEACHER START == -->
					<div class="col-sm-6">
						<h3>联系我们</h3>
						<form role="form" name="contact-form" id="contact-form">
							<div class="form-group" id="contact-name-group">
								<div class="input-group">
									<input type="text" class="form-control" id="contact-input-name" placeholder="姓名">
									<div class="input-group-addon"><i class="fa fa-user"></i></div>
								</div>
							</div>
							<div class="form-group" id="contact-email-group">
								<div class="input-group">
									<input type="email" class="form-control" id="contact-input-email" placeholder="邮箱">
									<div class="input-group-addon"><i class="fa fa-envelope"></i></div>
								</div>
							</div>
							<div class="form-group" id="contact-phone-group">
								<div class="input-group">
									<input type="text" class="form-control" id="contact-input-phone" placeholder="电话">
									<div class="input-group-addon"><i class="fa fa-phone"></i></div>
								</div>
							</div>
							<div class="form-group" id="contact-message-group">
								<div class="input-group">
									<!-- <input type="text" class="form-control" id="contact-input-phone" placeholder="Phone"> -->
									<textarea name="" id="contact-input-message" class="form-control" placeholder="想对我们说的话"></textarea>
									<!-- <div class="input-group-addon"><i class="fa fa-phone"></i></div> -->
								</div>
							</div>
							<button type="submit" class="btn btn-primary" id="msg-submit">提交</button>
						</form>
					</div>
					<!-- ==== APPLY FOR TEACHER END == -->
				</div>
			</div>
		</div>
    <!-- ========== PREFOOTER END ========== -->
    <!-- ========== FOOTER START ========== -->

    <footer>
        <div class="container">
            <div class="row">

                <!-- ==== CREDITS START == -->
                <div class="col-sm-8">
                    &copy; DaTuiGu Technology Inc.
                </div>
                <!-- ==== CREDITS END == -->

            </div>
        </div>
    </footer>

    <!-- ========== FOOTER END ========== -->
    <!-- Modernizr Plugin -->
    <script src="js/modernizr.custom.97074.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.11.1.min.js"></script>

    <!-- Bootstrap Plugins -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Retina Plugin -->
    <!-- <script src="js/retina-1.1.0.min.js"></script> -->
    <!-- Superslides Plugin -->
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.animate-enhanced.min.js"></script>
    <script src="js/jquery.superslides.js"></script>

    <!-- Owl Carousel Plugin -->
    <script src="js/owl.carousel.min.js"></script>

    <!-- Parallax ImageScroll Plugin -->
    <script src="js/jquery.parallax-1.1.3.js"></script>

    <!-- Fancybox Plugin -->
    <script src="js/jquery.fancybox.js"></script>

    <!-- ImagesLoaded Plugin -->
    <script src="js/imagesloaded.pkgd.min.js"></script>

    <!-- Masonry Plugin -->
    <script src="js/masonry.pkgd.min.js"></script>

    <!-- Progressbar Plugin -->
    <script src="js/bootstrap-progressbar.js"></script>

    <!-- Scroll Reveal Plugin -->
    <script src="js/scrollReveal.js"></script>

    <!-- Magic Form Processing -->
    <script src="js/magic.js"></script>

    <!-- jQuery Settings -->
    <script src="js/settings.js"></script>

    <script src="https://cdn.jsdelivr.net/lodash/4.16.4/lodash.min.js"></script>
    <script src="js/custom/shared.js"></script>
    <script src="js/custom/tutor-list.js?v=003"></script>
</body>

</html>
