<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Smartway - HTML Template">
		<meta name="author" content="Coffeecream Themes, info@coffeecream.eu">
		<title>大腿Tutor - 找tutor，有我们就够了</title>
		<link rel="shortcut icon" href="images/favicon.png">

		<!-- Main Stylesheet -->
		<link href="css/style.css" rel="stylesheet">

		<!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->
		<script src="js/custom/vue.js"></script>
		<script src="js/custom/vue-resource.min.js"></script>
	</head>
	<body >

		<header>
			<!-- ==== NAVBAR START ==== -->
			<div class="navbar navbar-default navbar-static-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="index.html" class="navbar-brand"><img src="images/logo.png" alt="Smartway - HTML Template" class="img-responsive logo" /></a>
					</div>
					<nav class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="index.html">首页</a></li>
							<li class="active"><a href="teachers-list.html"><u>找大腿</u></a></li>
							<li><a href="contact.html"><u>成为大腿</u></a></li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- ==== NAVBAR END ==== -->

		</header>

		<!-- ========== HEADER END ========== -->

		<!-- ========== TITLE START ========== -->

		<div class="title">
			<div class="title-image"></div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						找到一条大腿
					</div>
				</div>
			</div>
		</div>

		<!-- ========== TITLE END ========== -->

		<!-- ========== CONTENT START ========== -->

		<section id="content">
			<div class="container">
				<div class="row" id="tutor-info">
					<div class="col-sm-6">
						<img :src="tutor.avatar" alt="" class="img-responsive" style="margin: auto;"/>
					</div>
					<div class="col-sm-6">
						<h1>{{ tutor.name }}</h1>
						<p>{{ tutor.intro }}</p>
						<p>教授课程</p>
						<ul>
							<li v-for="course in tutor.courses">{{ course }}</li>
						</ul>
						<p>联系方式</p>
						<div v-if="canViewContact">
							<ul>
								<li>{{ tutor.phone }}</li>
								<li>{{ tutor.email }}</li>
							</ul>
						</div>
						<div v-else>
							<p>
								<input type="text" id="email" v-model="userEmail" placeholder="请填写UA邮箱来查看联系方式" size=50>
							</p>
							<p>
								<button type="submit" class="btn btn-primary" v-on:click="submitEmail">提交</button>
							</p>
							<p v-if="emailNotValid" style="color: red">
								答应我，请填写一个UA的邮箱好么😄
							</p>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" data-transitiongoal="90">
								<span class="pull-left">Accounting</span>
								<span class="pull-right">3.9</span>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" data-transitiongoal="100">
								<span class="pull-left">Math</span>
								<span class="pull-right">4.0</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- ========== CONTENT END ========== -->

		<!-- ========== REVIEWS START ========== -->

		<section id="teachers-reviews">
			<div class="tint"></div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center" data-scroll-reveal>

						<!-- OWL CAROUSEL START -->
						<div class="owl-carousel">

							<div class="item">
								<blockquote>Donec varius ante in turpis faucibus sagittis. Vestibulum lacinia ante eget fringilla lobortis. Nunc sollicitudin, arcu at fringilla varius, turpis dui venenatis augue, at adipiscing ante ipsum vel leo. In a sem sit amet mi condimentum semper. Nulla eleifend convallis gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit erat eu suscipit porttitor. Sed vestibulum mauris sit amet eros feugiat egestas. Ut rhoncus imperdiet est eget ullamcorper. Fusce at orci sed augue aliquam malesuada. <small>Sally Peterson, Student</small></blockquote>
							</div>

							<div class="item">
								<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam semper consectetur nunc ac pretium. Nullam vel lectus non augue imperdiet porta. Proin commodo malesuada faucibus. Integer at lacinia lacus. Vestibulum dignissim imperdiet est vel ornare. Sed vehicula luctus massa, sit amet porta purus feugiat a. Cras tincidunt neque vitae enim pellentesque, nec congue mauris suscipit. Praesent sit amet odio lacus. <small>Malcolm Carr, Student</small></blockquote>
							</div>

							<div class="item">
								<blockquote>Integer faucibus orci eu lorem vulputate, non semper odio consectetur. Phasellus eu commodo lectus, interdum molestie nunc. Maecenas aliquet sagittis elementum. Nulla lobortis diam nisl, id consectetur nunc faucibus viverra. Donec vel porta augue, eget accumsan lorem. Sed dictum consequat ipsum eget porta. Donec imperdiet dolor at ante interdum, sed viverra orci iaculis. Donec vestibulum nulla at tortor molestie, vel convallis neque vestibulum. Phasellus luctus purus ut tincidunt imperdiet. <small>Antonia Owen, Student</small></blockquote>
							</div>

							<div class="item">
								<blockquote>Vestibulum viverra dolor lorem, vitae ornare velit facilisis eget. Phasellus ornare, mauris id interdum cursus, velit libero dictum dolor, a vehicula lacus enim id tortor. Vestibulum faucibus nec elit id iaculis. Aenean lorem ante, pretium ac iaculis non, tincidunt in quam. Nunc lobortis dictum dui. Pellentesque sagittis luctus posuere. Sed suscipit mi vitae orci accumsan, ut imperdiet odio molestie. <small>Jared Murray, Student</small></blockquote>
							</div>

						</div>
						<!-- OWL CAROUSEL END -->

					</div>
				</div>
			</div>
		</section>

		<!-- ========== REVIEWS END ========== -->

		<!-- ========== SKILLS START ========== -->

		<section id="skills">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h2>John's key skills</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu tellus ipsum. Nunc maximus sapien ac dui vulputate tincidunt. Morbi luctus nisi vel suscipit volutpat. Donec vitae auctor nisl. Ut malesuada felis in erat rutrum ultrices. Fusce iaculis ornare nunc rutrum ornare. Proin ut placerat enim, vel venenatis urna. Phasellus sed diam tincidunt mauris malesuada mattis et in nisl. Quisque massa eros, molestie at mi eget, aliquam tristique eros. Nullam aliquet placerat magna ut eleifend. Phasellus iaculis tristique laoreet.Donec vitae auctor nisl. Ut malesuada felis in erat rutrum ultrices. Fusce iaculis ornare nunc rutrum ornare. Proin ut placerat enim, vel venenatis urna. Phasellus sed diam tincidunt mauris malesuada mattis et in nisl. Quisque massa eros, molestie at mi eget, aliquam tristique eros.</p>
					</div>
					<div class="col-sm-6">
						<div class="progress">
							<div class="progress-bar" role="progressbar" data-transitiongoal="90">
								<span class="pull-left">Accounting</span>
								<span class="pull-right">3.9</span>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" data-transitiongoal="100">
								<span class="pull-left">Math</span>
								<span class="pull-right">4.0</span>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" data-transitiongoal="80">
								<span class="pull-left">CSS3</span>
								<span class="pull-right">80%</span>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" data-transitiongoal="70">
								<span class="pull-left">jQuery</span>
								<span class="pull-right">70%</span>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" data-transitiongoal="80">
								<span class="pull-left">Online Marketing</span>
								<span class="pull-right">80%</span>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" data-transitiongoal="90">
								<span class="pull-left">SEO</span>
								<span class="pull-right">90%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- ========== SKILLS END ========== -->

		<!-- ========== PREFOOTER START ========== -->

		<div id="prefooter">
			<div class="container">
				<div class="row">

					<!-- ==== ABOUT START == -->
					<div class="col-sm-6">
						<h3>关于我们</h3>
						<div class="row">
							<div class="col-sm-5">
								<p><img src="images/qr.png" alt="" class="img-responsive" /></p>
							</div>
							<div class="col-sm-7">
								<p>这是大腿微信群的二维码，扫一扫又不费啥事，说不定还能解决学习问题，生活问题，和终身大事呢<br>
								<!-- <a href="#">Read More <i class="fa fa-angle-right"></i></a></p> -->
							</div>
						</div>
					</div>
					<!-- ==== ABOUT END == -->

					<!-- ==== APPLY FOR TEACHER START == -->
					<div class="col-sm-3">
						<h3>联系我们</h3>
						<form role="form" name="contact-form" id="contact-form">
							<div class="form-group" id="contact-name-group">
								<div class="input-group">
									<input type="text" class="form-control" id="contact-input-name" placeholder="姓名">
									<div class="input-group-addon"><i class="fa fa-user"></i></div>
								</div>
							</div>
							<div class="form-group" id="contact-email-group">
								<div class="input-group">
									<input type="email" class="form-control" id="contact-input-email" placeholder="邮箱">
									<div class="input-group-addon"><i class="fa fa-envelope"></i></div>
								</div>
							</div>
							<div class="form-group" id="contact-phone-group">
								<div class="input-group">
									<input type="text" class="form-control" id="contact-input-phone" placeholder="电话">
									<div class="input-group-addon"><i class="fa fa-phone"></i></div>
								</div>
							</div>
							<div class="form-group" id="contact-message-group">
								<div class="input-group">
									<!-- <input type="text" class="form-control" id="contact-input-phone" placeholder="Phone"> -->
									<textarea name="" id="contact-input-message" class="form-control" placeholder="想对我们说的话"></textarea>
									<!-- <div class="input-group-addon"><i class="fa fa-phone"></i></div> -->
								</div>
							</div>
							<button type="submit" class="btn btn-primary">提交</button>
						</form>
					</div>
					<!-- ==== APPLY FOR TEACHER END == -->

					<!-- ==== CONTACT START == -->
					<div class="col-sm-3">
						<h3>联系方式</h3>
						<p>大学里随便找个..<br>
						咖啡厅？Cameron? Hoho..?</p>

						<p>电话: <a href="tel:7809916996">780-991-6996</a><br>
						又一个电话: <a href="tel:7809071534">780-907-1534</a><br>
						Email: <a href="mailto:datui@gmail.com">datui@gmail.com</a></p>

						<p><a href="index.html">回到首页<i class="fa fa-angle-right"></i></a></p>
					</div>
					<!-- ==== CONTACT END == -->

				</div>
			</div>
		</div>

		<!-- ========== PREFOOTER END ========== -->

		<!-- ========== FOOTER START ========== -->

		<footer>
			<div class="container">
				<div class="row">

					<!-- ==== CREDITS START == -->
					<div class="col-sm-8">
						&copy; DaTuiGu Technology Inc.
					</div>
					<!-- ==== CREDITS END == -->

					<div class="col-sm-4 text-right">
						<a href="" onclick="logout()" style="color: white;">Log Out</a>
					</div>
				</div>
			</div>
		</footer>

		<!-- ========== FOOTER END ========== -->

		<!-- Modernizr Plugin -->
		<script src="js/modernizr.custom.97074.js"></script>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery-1.11.1.min.js"></script>

		<!-- Bootstrap Plugins -->
		<script src="js/bootstrap.min.js"></script>

		<!-- Retina Plugin -->
		<!-- <script src="js/retina-1.1.0.min.js"></script> -->

		<!-- Superslides Plugin -->
		<script src="js/jquery.easing.1.3.js"></script>
		<script src="js/jquery.animate-enhanced.min.js"></script>
		<script src="js/jquery.superslides.js"></script>

		<!-- Owl Carousel Plugin -->
		<script src="js/owl.carousel.min.js"></script>

		<!-- Parallax ImageScroll Plugin -->
		<script src="js/jquery.parallax-1.1.3.js"></script>

		<!-- Fancybox Plugin -->
		<script src="js/jquery.fancybox.js"></script>

		<!-- ImagesLoaded Plugin -->
		<script src="js/imagesloaded.pkgd.min.js"></script>

		<!-- Masonry Plugin -->
		<script src="js/masonry.pkgd.min.js"></script>

		<!-- Progressbar Plugin -->
		<script src="js/bootstrap-progressbar.js"></script>

		<!-- Scroll Reveal Plugin -->
		<script src="js/scrollReveal.js"></script>

		<!-- Magic Form Processing -->
		<script src="js/magic.js"></script>

		<!-- jQuery Settings -->
		<script src="js/settings.js"></script>

		<script src="js/custom/tutor-profile.js"></script>
		<script src="js/custom/shared.js"></script>
	</body>
</html>
